In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
#1) Reading the Rounds2, companies.txt files.

In [4]:
companies = pd.read_table("companies+(1).txt")

In [5]:
rounds = pd.read_csv("rounds2.csv", encoding='latin-1')

In [6]:
#2) How many unique companies are present in rounds2?

In [7]:
rounds["company_permalink"].unique()

array(['/organization/-fame', '/ORGANIZATION/-QOUNTER',
       '/organization/-qounter', ..., '/organization/ã\x81eron',
       '/ORGANIZATION/Ã\x94ASYS-2',
       '/organization/ä°novatiff-reklam-ve-tanä±tä±m-hizmetleri-tic'],
      dtype=object)

In [8]:
#3) How many unique companies are present in the companies file?

In [9]:
companies["name"].unique()

array(['#fame', ':Qounter', '(THE) ONE of THEM,Inc.', ..., 'Ã\x81ERON',
       'Ã”asys', 'Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic'],
      dtype=object)

In [10]:
#4) Write the code to convert companies[‘permalink’] and Round2[‘company_permalink’] columns to uppercase.

In [11]:
companies["permalink"] = companies['permalink'].str.upper()

In [12]:
rounds["company_permalink"] = rounds["company_permalink"].str.upper()

In [13]:
#5) Are there any companies in the rounds2 file which are not present in companies.txt ?

In [14]:
companies_not_in_rounds2 = rounds[~rounds['company_permalink'].isin(companies['permalink'])]

In [15]:
#6) Merge the two data frames so that all variables (columns) in the company's frame are added to the rounds2 data frame. 
#Name the merged frame master_dataframe. 
#How many observations are present in master_frame ?

In [16]:
master_dataframe = pd.merge(left = rounds, right = companies, how = "right",left_on='company_permalink', right_on='permalink')

In [17]:
master_dataframe.shape

(114944, 16)

In [18]:
#7) Write the code to drop the redundant column ‘'company_permalink' from the master_dataframe.

In [19]:
master_dataframe.drop(columns="company_permalink",inplace = True)

In [20]:
master_dataframe

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,/ORGANIZATION/-QOUNTER,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
3,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
4,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,/ORGANIZATION/0-6-COM,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114939,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114940,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0,/ORGANIZATION/ZZZZAPP-COM,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
114941,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN,/ORGANIZATION/ÃERON,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
114942,NaN,NaN,NaN,NaN,NaN,/ORGANIZATION/Ã”ASYS-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
114943,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0,/ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [21]:
#8) Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop unnecessary columns.

In [22]:
missing_percentage = master_dataframe.isnull().sum()/len(master_dataframe) *100

In [23]:
threshold = 30
columns_to_drop = missing_percentage[missing_percentage > threshold].index
master_dataframe_cleaned = master_dataframe.drop(columns=columns_to_drop)

In [24]:
#9) Create a pivot table to compare the mean and median values for 
#‘raised_amount_usd’ and ‘funding_round_type’ across different funding round categories..

In [25]:
master_dataframe.pivot_table(values=['raised_amount_usd'],index='funding_round_type',aggfunc= ['mean', 'median'])

                                   mean            median
                      raised_amount_usd raised_amount_usd
funding_round_type
angel                      9.588918e+05          400000.0
convertible_note           1.453439e+06          272000.0
debt_financing             1.704353e+07         1100000.0
equity_crowdfunding        5.383682e+05          100000.0
grant                      4.302600e+06          202658.0
non_equity_assistance      4.112031e+05           60000.0
post_ipo_debt              1.687046e+08        19950000.0
post_ipo_equity            8.218249e+07        12262852.5
private_equity             7.330859e+07        20000000.0
product_crowdfunding       1.363131e+06          183915.0
secondary_market           7.964963e+07        32600000.0
seed                       7.200163e+05          275000.0
undisclosed                1.924237e+07         1018680.0
venture                    1.174875e+07         5000000.0

In [26]:
#10) Filter the master_dataframe on ‘raised_amount_usd’ such as ‘raised_amount_usd’ lie between 4 Millions to 15 Millions.

In [27]:
filtered_master_dataframe = master_dataframe[(master_dataframe['raised_amount_usd'] >= 4000000) & (master_dataframe['raised_amount_usd'] <= 15000000)]

In [28]:
filtered_master_dataframe

,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,/ORGANIZATION/-FAME,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
12,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0,/ORGANIZATION/0XDATA,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
21,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,NaN,01-02-2015,6000000.0,/ORGANIZATION/1-800-PUBLICRELATIONS-INC-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013
22,/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.0,/ORGANIZATION/1-MAINSTREAM,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012
28,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,A,09-10-2014,4000000.0,/ORGANIZATION/10-MINUTES-WITH,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114916,/funding-round/85443f5438bfd50104b9591eabc95c94,grant,NaN,26-03-2014,7500000.0,/ORGANIZATION/ZYOMYX-INC,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
114917,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,NaN,11-07-2013,14219999.0,/ORGANIZATION/ZYOMYX-INC,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998
114925,/funding-round/c05aab2155e390066d51c6852ff61464,grant,NaN,11-09-2009,5400000.0,/ORGANIZATION/ZYRAZ-TECHNOLOGY,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
114926,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,A,09-10-2009,7991547.0,/ORGANIZATION/ZYRAZ-TECHNOLOGY,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994
114931,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,A,16-12-2004,8500000.0,/ORGANIZATION/ZYSTOR,Zystor,http://www.zystor.com,Biotechnology,acquired,USA,WI,Milwaukee,Milwaukee,NaN

In [29]:
#11) Identify the top 9 countries in terms of highest investment in ‘venture’ fund type.

In [30]:
venture_countries = master_dataframe[master_dataframe["funding_round_type"] == "venture"].groupby("country_code")[["raised_amount_usd"]].sum().sort_values(by ="raised_amount_usd",ascending=False)
venture_countries.head(9)

              raised_amount_usd
country_code
USA                4.225108e+11
CHN                3.983542e+10
GBR                2.024563e+10
IND                1.439186e+10
CAN                9.583332e+09
FRA                7.259537e+09
ISR                6.907515e+09
DEU                6.346960e+09
JPN                3.363677e+09

In [31]:
#12) Create the ‘main_category’ column by extracting the first value using the column ‘category_list’.
#Hint - Use the Lambda function or string function.

In [32]:
master_dataframe['main_category'] = master_dataframe['category_list'].apply(lambda x: str(x).split('|')[0])

In [33]:
#master_dataframe["main_category"] = master_dataframe['category_list'].str.split("|")[0]

In [34]:
#13) Using the user defined function convert the ‘rasied_amount_used’ column into a categorical column as follow-
#a) If the amount is less than 5 Millions then recode as TypeA.
#b) If the amount is greater than 5 Millions and less than 7 Millions then recode as TypeB.
#c) If the amount is greater than 7 Millions then recode as TypeC.

In [35]:
def recode_amount_category(amount):
    if amount < 5000000:
        return 'TypeA'
    elif 5000000 <= amount < 7000000:
        return 'TypeB'
    elif amount > 7000000:
        return 'TypeC'

In [36]:
master_dataframe['raised_amount_usd'].apply(recode_amount_category)

0         TypeC
1          None
2         TypeA
3         TypeA
4         TypeA
          ...
114939    TypeA
114940    TypeA
114941     None
114942     None
114943    TypeA
Name: raised_amount_usd, Length: 114944, dtype: object

NameError: name 'df_2021' is not defined